<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>

<body style="background-color: #95F8AC">
    <div id="main_menu" class="blue lightblue">
        <h1>Diana's Homepage</h1>
    </div>

    <div id="main_content" >
       <p>
           <span class="red fontSize40">
        T</span>his is my first webpage. Exploring CSS and html interactions as well as elements and tags in HTML.

        </p>

        <p>
            <span class="brush_script blue makeBigger fontSize20">
        Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Donec ultrices tincidunt arcu non sodales
        neque sodales ut. Ullamcorper morbi tincidunt ornare massa. Laoreet sit amet cursus sit amet. Nunc eget lorem
        dolor sed viverra ipsum nunc aliquet bibendum. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit.
        Rutrum quisque non tellus orci ac auctor augue mauris. Ut diam quam nulla porttitor massa id neque aliquam.
        Risus in hendrerit gravida rutrum quisque non tellus orci ac. Sit amet nulla facilisi morbi tempus. Proin nibh
        nisl condimentum id venenatis a condimentum vitae sapien. Viverra maecenas accumsan lacus vel facilisis volutpat
        est velit. Facilisis mauris sit amet massa. Leo integer malesuada nunc vel. Nisi quis eleifend quam adipiscing
        vitae. In vitae turpis massa sed elementum tempus egestas sed. Orci dapibus ultrices in iaculis nunc. Nibh
        mauris cursus mattis molestie a iaculis at erat. Fermentum dui faucibus in ornare quam. Enim sit amet venenatis
        urna cursus eget nunc scelerisque.</span>
        </p>

        <p>
        Ac placerat vestibulum lectus mauris ultrices. Egestas sed tempus urna et pharetra pharetra massa. Auctor urna
        nunc id cursus metus. Sapien eget mi proin sed libero enim sed. In cursus turpis massa tincidunt dui ut ornare
        lectus sit. Sed viverra ipsum nunc aliquet bibendum enim. Tortor consequat id porta nibh venenatis. Lobortis
        elementum nibh tellus molestie nunc non blandit massa enim. Leo in vitae turpis massa. Netus et malesuada fames
        ac turpis egestas maecenas.
        </p>

        <p> Sed egestas egestas fringilla phasellus. Duis at tellus at urna condimentum. Senectus et netus et malesuada
        fames ac. Massa tincidunt dui ut ornare lectus sit amet. Bibendum ut tristique et egestas quis. Ultricies lacus
        sed turpis tincidunt id aliquet risus feugiat in. Lorem sed risus ultricies tristique nulla aliquet enim tortor.
        Sodales ut eu sem integer vitae justo eget magna fermentum. Venenatis cras sed felis eget. Dui accumsan sit amet
        nulla. At auctor urna nunc id cursus metus aliquam. Faucibus nisl tincidunt eget nullam non nisi est sit. Diam
        volutpat commodo sed egestas. Volutpat diam ut venenatis tellus in metus. Cras adipiscing enim eu turpis egestas
        pretium. Magna ac placerat vestibulum lectus.
        </p>

        <p>
        A diam sollicitudin tempor id eu nisl nunc mi ipsum. Malesuada nunc vel risus commodo viverra. Ullamcorper
        dignissim cras tincidunt lobortis feugiat vivamus. Eget aliquet nibh praesent tristique magna. Dolor morbi non
        arcu risus quis. Diam maecenas sed enim ut sem viverra aliquet eget. Pellentesque adipiscing commodo elit at.
        Metus vulputate eu scelerisque felis imperdiet proin fermentum. Auctor elit sed vulputate mi sit amet mauris.
        Tempus imperdiet nulla malesuada pellentesque. Lectus arcu bibendum at varius vel pharetra vel. Id aliquet risus
        feugiat in ante. Nisl tincidunt eget nullam non nisi. Mi sit amet mauris commodo quis imperdiet massa tincidunt.
        Pulvinar elementum integer enim neque volutpat ac. Orci sagittis eu volutpat odio facilisis mauris. Feugiat
        pretium nibh ipsum consequat nisl vel. Sagittis id consectetur purus ut faucibus pulvinar elementum. Etiam
        tempor orci eu lobortis elementum. Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi.
        </p>

        <p>
        © 2015 — 2021
        PRIVACY POLICY
        SITEMAP
        FONT GENERATOR
        IMAGES
        PLUGINS
        GENERATORS
        SHARE THE LOREM
        </p>


    </div>



</body>
</html>
